# Storage of environmental variables, a.k.a. the Marvel API keys
# Managed with the dotenv package
.env

# Practice file for learning about promises
q.js
q2.js
timeout.js
# FML - how many of these will I need?
defer.js

# Node modules
node_modules/